body {
  font-family: "Dancing Script", cursive;

}

/* common classes */
.custom-btn {
  font-family: "Open Sans", sans-serif;
  border-radius: 30px;
}

.font-normal {
  font-family: "Open Sans", sans-serif;
}

/* landing-area styling */

.landing-area {
  position: relative;
  display: flex;
  flex-direction: column;
  background-image: url("../../images/public/hero-bg.jpg");
  background-position: center;
  background-size: cover;
  min-height: auto;
}

/* navbar styling */
.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active {
  outline: none;
  border: none;
  box-shadow: none;
}

.navbar-toggler svg {
  font-size: 30px;
}

.navbar-toggler svg:hover,
.navbar-toggler svg:hover:focus {
  fill: #ffbe33;
}

.navbar .navbar-nav .nav-link {
  font-family: "Open Sans", sans-serif;
  color: white;
}

.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:hover {
  color: #ffbe33;
}

.navbar .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.navbar .buttons svg {
  fill: #fff;
  transition: 0.3s all;
  font-size: 18px;
}

.navbar .buttons svg:hover {
  fill: #ffbe33;
}

/* slider styling */
.slider-section {
  min-height: calc(100vh - 74px);
}

.slider-section .carousel-item h1 {
  font-size: 2.5rem;
}

.slider-section .carousel-item p {
  font-family: "Open Sans", sans-serif;
  max-width: 700px;
  text-wrap: balance;
  font-size: 0.8rem;
}

.slider-section .carousel .carousel-indicators button {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #fff;
  opacity: 1;
}

.slider-section .carousel-indicators button.active {
  background-color: #ffbe33;
  width: 20px;
  height: 20px;
}

/* slider media */
@media (min-width: 578px) {
  .slider-section .carousel-item h1 {
    font-size: 4rem;
  }

  .slider-section .carousel-item p {
    font-size: 1rem;
  }
}

/* make the minemum hight 100vh with larg screens */
@media (min-width: 991px) {
  .landing-area {
    min-height: 100vh;
  }
}

/* offers section styling */

.offers .row .card-offer .card-img {
  border-radius: 50%;
  width: 180px;
  overflow: hidden;
  border: 6px solid #ffbe33;
}

@media (max-width:400px) {
  .offers .row .card-offer .card-img {
    width: 120px;
  }
}

.offers .row .card-offer:hover img {
  transform: scale(1.2);
}

.offers .row .card-offer .card-img img {
  border-radius: 50%;
  transition: 0.5s transform;
}

/* menu sction styling */

.menu .nav .nav-item {
  font-family: "Open Sans", sans-serif;
}

.menu .nav .nav-item.active {
  border-radius: 50px;
}

.menu .foods .row {
  row-gap: 1.5rem;
}

.menu .foods .row .food {
  overflow: hidden;
  border-radius: 12px;
  font-family: "Open Sans", sans-serif;

}

.menu .foods .row .food:hover img {
  transform: scale(1.2);
}

.menu .foods .row .food .food-img {
  background-color: #eee;
  border-bottom-left-radius: 50px;
  height: 230px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.menu .foods .row .food .food-img img {
  width: 150px;
  transition: 0.3s all;
}

.menu .foods .row .food .price-buy .icon {
  background-color: #ffbe33;
  padding: 10px;
  box-sizing: content-box;
  border-radius: 50%;
}

/* about section styling */
/* ------ everything done by using bootstrap in about section ------ */


/* book section styling */
.book .form-control:focus,
.book .form-select:focus {
  border-color: #ffbe33;
  outline: none;
  box-shadow: none;
}

.book iframe {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

/* testimonials section styling */

.testimonials .card-img {
  position: relative;
}

.testimonials .card-img::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 49px;
  width: 0;
  height: 0;
  border: 12px solid transparent;
  border-bottom: 12px solid #ffbe33;
}

.testimonials img {
  width: 120px;
  border: 5px solid #ffbe33;
}

.testimonials .controle-buttons button {
  outline: none;
  border: none;
  background-color: transparent;
}

.testimonials .controle-buttons button {
  width: 50px;
  height: 50px;
  background: #ffbe33;
  border-radius: 50%;
}

/* footer styling */

footer .social a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  box-sizing: content-box;
  border-radius: 50%;
  background-color: #fff;
}